<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
</head>
<body class="main-page">
<div class="wrapper container-fluid">
    <div class="row">


        <div class="search col-xs-12">
            <label class="search__label">
                <input class="search__query" placeholder="Поиск">
            </label>
        </div>


        <ul class="tag-menu col-xs-12">
            <li class="tag-menu__item">Программа реновации</li>
            <li class="tag-menu__item">Зарядье</li>
            <li class="tag-menu__item">ЧМ-2018</li>
            <li class="tag-menu__item">Электронный дневник</li>
            <li class="tag-menu__item">МЭШ</li>
            <li class="tag-menu__item">Поиск кружков</li>
            <li class="tag-menu__item">Московские сезоны</li>
            <li class="tag-menu__item">Оплата штрафов ГИБДД</li>
            <li class="tag-menu__item tag-menu__item_more">Ещё</li>
        </ul>


        <div class="news col-sm-8 col-md-6">
            <h2 class="cmn-h2">Новости</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="news__item col-xs-12">
                        <div class="news__image-wrap">
                            <span class="news__label">Новость мэра</span>
                            <img class="cmn-img-fluid" src="images/2017-11-12_17-09-34@2x.png"/>
                        </div>
                        <div class="news__text">
                            Сергей Собянин вручил премии города Москвы в области медицины 44 врачам
                        </div>
                    </div>
                    <div class="news__item col-sm-6">
                        <div class="news__image-wrap">
                            <img class="cmn-img-fluid" src="images/2017-11-12_17-09-34@2x.png"/>
                        </div>
                        <div class="news__text">
                            Сергей Собянин вручил премии города Москвы в области медицины 44 врачам
                        </div>
                    </div>
                    <div class="news__item col-sm-6">
                        <div class="news__image-wrap">
                            <img class="cmn-img-fluid" src="images/2017-11-12_17-09-34@2x.png"/>
                        </div>
                        <div class="news__text">
                            Сергей Собянин вручил премии города Москвы в области медицины 44 врачам
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="today col-sm-4 col-md-3">
            <h2 class="cmn-h2">Сегодня</h2>
            <dl class="today__list">
                <dt class="today__title"><span class="today__time">11:45</span> Транспорт</dt>
                <dd class="today__description">Началась архитектурная отделка станций метро «Окружная» и «Верхние
                    Лихоборы»
                </dd>

                <dt class="today__title"><span class="today__time">11:45</span> Транспорт</dt>
                <dd class="today__description">Началась архитектурная отделка станций метро «Окружная» и «Верхние
                    Лихоборы»
                </dd>

                <dt class="today__title"><span class="today__time">11:45</span> Транспорт</dt>
                <dd class="today__description">Началась архитектурная отделка станций метро «Окружная» и «Верхние
                    Лихоборы»
                </dd>

                <dt class="today__title"><span class="today__time">11:45</span> Транспорт</dt>
                <dd class="today__description">Началась архитектурная отделка станций метро «Окружная» и «Верхние
                    Лихоборы»
                </dd>

                <dt class="today__title"><span class="today__time">11:45</span> Транспорт</dt>
                <dd class="today__description">Началась архитектурная отделка станций метро «Окружная» и «Верхние
                    Лихоборы»
                </dd>

                <dt class="today__title"><span class="today__time">11:45</span> Транспорт</dt>
                <dd class="today__description">Началась архитектурная отделка станций метро «Окружная» и «Верхние
                    Лихоборы»
                </dd>

                <dt class="today__title"><span class="today__time">11:45</span> Транспорт</dt>
                <dd class="today__description">Началась архитектурная отделка станций метро «Окружная» и «Верхние
                    Лихоборы»
                </dd>
            </dl>
        </div>


        <div class="important col-xs-12 col-md-3">
            <h2 class="cmn-h2">Важное</h2>
        </div>

        <div class="banner col-xs-12">Перетяжка</div>

        <div class="services col-sm-4 col-md-3">
            <h2 class="cmn-h2">Услуги</h2>
        </div>

        <div class="col-sm-8 col-md-9">
            <div class="events">
                <h2 class="cmn-h2">События</h2>
                <div class="events__list">
                    <div class="events__item events__item_logo">
                        <a href="" class="event__link">
                        <div class="events__image-wrap">
                            <img src="images/chris.png" alt="" class="events__image">
                        </div>
                        <div class="events__content events__content_logo">
                            <div class="events__logo">
                                <img src="images/logo-xmas.svg" alt="" class="events__logo-image">
                            </div>
                            <div class="events__date events__date_logo">
                                20 декабря – 14 января
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="events__item events__item_review">
                        <a href="" class="event__link">
                        <div class="events__image-wrap">
                            <span class="events__label">Обзор</span>
                            <img src="images/1242134.png" alt="" class="events__image">
                        </div>
                        <div class="events__content events__content_review">
                            <div class="events__title events__title_review">Двадцать лучших выставок
                                декабря</div>
                        </div>
                        </a>
                    </div>
                    <div class="events__item">
                        <a href="" class="event__link">
                        <div class="events__image-wrap">
                            <img src="images/34341.png" alt="" class="events__image">
                        </div>
                        <div class="events__content">
                            <div class="events__title">Выставка «В предчувствии света луч солнца прощальный» на Арбате</div>
                            <div class="events__date">31 октября – 12 ноября</div>
                        </div>
                        </a>
                    </div>
                    <div class="events__item">
                        <a href="" class="event__link">
                        <div class="events__image-wrap">
                            <img src="images/5B4A0730.png" alt="" class="events__image">
                        </div>
                        <div class="events__content">
                            <div class="events__title">Выставка «Картина с удобствами»</div>
                            <div class="events__date">20 – 30 октября</div>
                        </div>
                        </a>
                    </div>
                    <div class="events__item">
                        <a href="" class="event__link">
                        <div class="events__image-wrap">
                            <img src="images/2017-11-12_17-04-40.png" alt="" class="events__image" />
                        </div>
                        <div class="events__content">
                            <div class="events__title">Выставка «В предчувствии света луч солнца прощальный» на Арбате</div>
                            <div class="events__date">20 – 30 октября</div>
                        </div>
                        </a>
                    </div>
                    <div class="events__item">
                        <a href="" class="event__link">
                        <div class="events__image-wrap">
                            <img src="images/2017-11-12_17-04-40.png" alt="" class="events__image" />
                        </div>
                        <div class="events__content">
                            <div class="events__title">Выставка «Зеленая кисточка. Нарисуй мне Крым»</div>
                            <div class="events__date">20 – 30 октября</div>
                        </div>
                        </a>
                    </div>


                </div>


            </div>
            <div class="projects">
                <h2 class="cmn-h2">Проекты города</h2>
            </div>
        </div>

    </div>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>
</html>